Repository grokku/parallax-scroller: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix

docs: ✏️ Document GitHub actions
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

refactor: 💡 Fix linter issues
  .eslintignore
  demo/parallax-scroller.js
  package-lock.json
  package.json
  src/elements-initializer.test.ts
  src/keyframes.test.ts
  src/keyframes.ts
  src/listener.test.ts
  src/parser.test.ts
  src/parser.ts
  src/render.test.ts
  src/render.ts
  src/utils.test.ts
  src/utils.ts
Due: prettier --write --ignore-unknown, eslint --fix

docs: ✏️ Add demo of basic capabilities on CodePen
  README.md
  demo/index.html
  demo/index.js
  demo/parallax-scroller.js
Due: prettier --write --ignore-unknown

refactor: 💡 Fix Sonar quality recommendations
  src/elements-initializer.ts
  src/keyframes.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: 💡 Improve regex
  src/parser.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: 💡 Fix super-linear runtime vulnerability
  src/keyframes.ts
  src/parser.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: 🐛 regexp backtracking issue
  src/parser.ts
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.md)
  eslint --fix: any of: *.ts
